c-window-container {
    margin: 0;
    font-family: sans-serif;
    background: transparent;
}

.c-window {
    position: relative;
    background: white;
    border: 3px solid #003D8E;
    width: 800px;
    /*height: 300px;*/
    box-shadow: 4px 4px 0 rgba(0, 61, 142, 0.8);
    margin: 60px auto;
    margin-bottom: 0px;
}

.c-title-bar {
    background-color: #a5aaff;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 0 5px;
    border-bottom: 1px solid #000;
}

.c-window-buttons {
    display: flex;
    gap: 4px;
}

.c-btn {
    width: 18px;
    height: 18px;
    background: #fff;
    border: 1px solid #000;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.c-btn.close:hover {
    background-color: #ff4c4c;
    border-color: #000;
    transition: background-color 0.2s ease;
    cursor: pointer;
}

.c-btn.close:hover .icon-x span {
    background: #fff; /* X가 더 튀도록 하얗게 */
}

.c-btn.close:active {
    transform: scale(0.95);
}

.minimize .icon-line {
    width: 10px;
    height: 2px;
    background: #000;
}

.maximize .icon-square {
    width: 10px;
    height: 8px;
    border: 1px solid #000;
}

.close .icon-x {
    position: relative;
    width: 10px;
    height: 10px;
}

.close .icon-x span {
    position: absolute;
    top: 4px;
    left: 0;
    width: 10px;
    height: 2px;
    background: #000;
}

.close .icon-x span:first-child {
    transform: rotate(45deg);
}

.close .icon-x span:last-child {
    transform: rotate(-45deg);
}

.c-search-bar {
    display: flex;
    padding: 8px;
    gap: 5px;
    border-bottom: 1px solid #000;
}

.c-fake-address {
    flex: 1;
    padding: 5px;
    border: 1px solid #000;
    background-color: white;
    color: #000;
    font-size: 14px;
    font-family: pixelfont;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.c-search-button {
    padding: 5px 10px;
    border: 1px solid #000;
    background: white;
    cursor: pointer;
    font-weight: bold;
}

.c-content-box {
    height: 400px;
    display: flex;
    flex-direction: row;
}

.c-content-area {
    flex: 1;
    background: white;
    border-right: 1px solid #000;

}

.c-icons {
    position: relative;
    display: flex;
    justify-content: flex-start;
    gap: 50px;
    margin: 30px 40px;
}

.icon-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
}

.icon-box:active {
    transform: scale(0.97);
}

.c-icons .test-img {
    width: 130px;
    display: block;

}

.icon-box:hover .test-img {
/*    outline: 2px solid #4b8aff;
    outline-offset: 4px;*/
    transform: scale(1.05);
    transition: transform 0.2s ease, outline 0.2s ease;
}

.icon-label {
    margin-top: 6px;
    font-size: 14px;
}

.icon-box:hover .icon-label {
    color: #4b8aff;
    text-decoration: underline;
    font-weight: bold;
    transition: color 0.2s ease;
}

.c-fake-scrollbar {
    width: 24px;
    height: 100%;
    border-left: 1px solid #000;
    border-right: 1px solid #000;
    display: flex;
    flex-direction: column;
    background: #f0f0f0;
    box-sizing: border-box;
}

.c-scroll-btn {
    height: 24px;
    width: 100%;
    background: #e5e5e5;
    border-top: 1px solid #000;
    border-bottom: 1px solid #000;
    display: flex;
    align-items: center;
    justify-content: center;
}

.c-scroll-btn svg {
    width: 10px;
    height: 10px;
}

.c-track {
    flex: 1;
    position: relative;
    background: #f0f0f0;
}

.c-thumb {
    width: 100%;
    height: 40%;
    background: #a5aaff;
    border: 1px solid #000;
    position: absolute;
    top: 30%;
    left: 0;
}

fake-popup-body {
    position: relative;
}

.c-fake-popup {
    position: absolute;
    bottom: 140px;
    right: 220px;
    width: 430px;
    background: #fff;
    border: 3px solid #000;
    box-shadow: 6px 6px 0 rgba(0, 61, 142, 0.8);
    z-index: 999;
}

.c-popup-header {
    background: #e8d3f5;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px 12px;
    border-bottom: 3px solid #000;
}

.c-popup-title {
    font-size: 20px;
}

.c-popup-buttons {
    display: flex;
    gap: 6px;
}

.c-popup-extraBTN {
    width: 20px;
    height: 20px;
    background: #fff;
    border: 2px solid #000;
}

.c-popup-body {
    padding: 32px 24px 20px;
    text-align: center;
}

.c-popup-text {
    margin-bottom: 28px;
    font-size: 22px;
}

.c-popup-actions {
    display: flex;
    justify-content: space-around;
}

.c-popup-btn {
    font-size: 22px;
    padding: 8px 20px;
    background: #fff;
    border: 2px solid #000;
    cursor: pointer;
}

.c-popup-btn:hover {
    background-color: #c8e0f9;
}

.c-popup-btn.highlight:hover {
    background: #f9ccec;
}



/*여기서부터 공통Test.jsp */

.testPopup-body1 {
    position: relative;
}

.c-popup {
    position: absolute;
    bottom: 140px;
    right: 220px;
    width: 430px;
    background: #fff;
    border: 3px solid #000;
    box-shadow: 6px 6px 0 rgba(0, 61, 142, 0.8);
    z-index: 999;
}